@model ExemploLojinha.Models.Notas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Notas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorNota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorNota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parcelas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parcelas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendedor.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutosId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdutosId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
